.header {
   padding: 0 .5em;
   border-bottom: .5px solid hsl(0, 0%, 90%);
   display: flex;
   align-items: center;
   gap: 1em;
}

.header_heading {
   margin-right: auto;
}

.header_new-btn {
   background-color: hsl(200, 50%, 50%);
   color: hsl(0, 0%, 100%);
}

.header_delete-btn {
   color: hsl(0, 45%, 50%);
   box-shadow: 0 0 0 .5px hsl(0, 45%, 50%);
}

.note-card_container {
   padding: 1em .5em;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
   gap: 1em;
}

.note-card {
   position: relative;
   box-shadow: 0 0 5px .25px hsl(0, 0%, 50%); 
   border-radius: .3em; 
   text-align: center;
   transition: box-shadow 100ms ease-in-out;
   text-decoration: none;
   color: hsl(0, 0%, 0%);
}

.note-card:hover, .note-card:focus {
   box-shadow: 0 0 10px .25px hsl(0, 0%, 50%);
}

.note-card_title {
   font-size: 1.3rem;
}

.not-found {
   font-size: 1.7rem;
   margin-top: 5em;
   text-align: center;
   color: hsl(0, 0%, 60%);
}